* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  text-transform: capitalize;
  outline: none;
  font-family: 'Poppins';
  box-sizing: border-box;
  transition: all 0.2s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  background-image: linear-gradient(to right top, #051937, #662f65, #c84663, #fe8939, #ebe512);
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}


@media (max-width:361px){
  body{
    background-position: center;
    background-size: 200%;
  }
}


